@import "../Variables/variables.scss";

#root {
    max-width:100%;
    text-align: center;
}

.app {
   
    display:flex;
    flex-direction: column;
    align-items: center;
  }

.board {
    width:60%;
    background-color: rgb(3, 80, 0);
    margin:10px;
    padding:20px;
    border-radius: 5px;
    h2 {
        color:$black-color;
    }
    align-items: center;
}

.status {
    margin:20px;
    font-size: 24px;
}

.boardrow {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    background-color: rgb(6, 29, 0);
    padding:5px;
    border-radius: 5px 5px 0 0;
    margin-top: -5px;
    margin-bottom: -5px;
    
}

.square {
    @include squareStyle(6px, 3px solid #fff);
}

.square:focus {
    @include buttonFocus();
}

.square:hover {
    @include buttonHover();
}
  
  
  
  

  
  
  